h1 {
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 112%;
}

h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 112%;
}

h3 {
    font-weight: 500;
    font-size: 23px;
    line-height: 120%;
}

.p-big {
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
}

.p-normal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
}

.p-small {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 142%;
}