.radio-checkmark {
    height: 20px;
    width: 20px;
}


.radio .radio-checkmark:after {
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
    background: black;
}