.build__form {
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;

    display: flex;
    flex-direction: column;
    gap: 33px;

    background-color: var(--white);
    border-radius: 50px;
    padding: 70px;
}

.build__form-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.build__element {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

/* === MARK: Элементы ввода === */

textarea,
input {
    resize: none;
    border-radius: 10px;
    background-color: var(--beige-100);
    border: 1px solid var(--beige-200);
    color: black;
    padding: 20px;
}

textarea:hover,
input:hover {
    background-color: var(--beige-200);
}

textarea:focus,
input:focus {
    background-color: var(--beige-200);
    border: 1px solid var(--gray-300);
    outline: none;
}

textarea::placeholder,
input::placeholder {
    color: var(--gray-300);
}

/* 
    https://devgex.com/en/article/00017036
    Пока они не заполнены - они серые, однако при заполнении и фокусе чёрные
    Не совсем уверен, верно ли это, или нет, но…
 */
input[type="date"]:not(:focus)::-webkit-datetime-edit-text,
input[type="date"]:not(:focus)::-webkit-datetime-edit-month-field,
input[type="date"]:not(:focus)::-webkit-datetime-edit-day-field,
input[type="date"]:not(:focus)::-webkit-datetime-edit-year-field {
    color: var(--gray-300);
}

input[type="date"]:valid::-webkit-datetime-edit-text,
input[type="date"]:valid::-webkit-datetime-edit-month-field,
input[type="date"]:valid::-webkit-datetime-edit-day-field,
input[type="date"]:valid::-webkit-datetime-edit-year-field {
    color: black;
}

/* В Figma календаря нет */
input[type="date"]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

/* === MARK: Пикер === */

select {
    border-radius: 10px;
    background-color: var(--beige-100);
    border: 1px solid var(--beige-200);
    color: black;
    padding: 20px;
}

/* 
    Figma: "Непосредственно сам выпадающий список необходимо сделать стандартным браузерным"
    Это ведь так-же делает выпадающий список стандартным браузерным а не стандартным для ОС, верно?
 */
select,
::picker(select) {
    appearance: base-select;
}

select::picker-icon {
    color: #999;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

/* === MARK: Радио-кнопки и чек-бокс === */

.build__form_radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.build__form_radio_group {
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.build__form-checkbox {
    display: flex;
    flex-direction: row;
    gap: 19px;
}

/* === MARK: Кнопки === */

.build__form_buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.build__button {
    display: block;
    box-sizing: border-box;
    width: 235px;
    height: 58px;
    padding: 15px;

    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* === MARK: Кнопка "Найти тур" === */

/* FIXME: При фокусе ломается цвет */
.build__find_tour {
    background-color: var(--green-400);
    color: var(--white);
}

.build__find_tour:hover {
    background-color: var(--green-300);
}

.build__find_tour:active {
    background-color: var(--green-200);
}

/* === MARK: Кнопка "Сбросить" === */

.build__reset_button {
    background-color: var(--green-100);
    color: var(--green-400);
}

.build__reset_button:hover {
    background-color: var(--gray-100);
}

.build__reset_button:active {
    background-color: var(--gray-200);
}