.choose_tour {
    width: 100%;
    max-width: 1170px;

    display: flex;
    flex-direction: column;
    gap: 100px;
}

.choose_tour__content {
    width: 100%;
    max-width: 1170px;
    margin: 0 53px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

/* ---- card ---- */

.choose_tour__card {
    position: relative;
    width: 100%;
    height: 531px;
    overflow: hidden;
    border-radius: 50px;
}

.choose_tour__card>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}

.choose_tour__card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.choose_tour__card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.choose_tour__card_read_me {
    text-decoration: none;
    color: var(--white);
    box-sizing: content-box;

    position: relative;
    translate: -20px 7px;
    width: fit-content;
    padding: 7px 20px;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.choose_tour__card:hover {
    cursor: pointer;
}

.choose_tour__card:hover>img {
    scale: 1.2;
}

.choose_tour__card:hover .choose_tour__card_read_me {
    background-color: var(--green-400);
    border-radius: 50px;
}