.choose-tour {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 1170px;
}

.choose-tour__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.choose-tour__content-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.choose-tour__card {
    position: relative;
    width: 370px;
    height: 531px;
    overflow: hidden;
    border-radius: 50px;
}

.choose-tour__card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    padding: 50px;
    
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.choose-tour__card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;

}