.end {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: fit-content;
}

.end>img {
    width: 370px;
    height: 370px;
    border-radius: 50px;
}

.end__text {
    width: 371px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 900px) {
    .end {
        flex-direction: column;
    }

    .end>img {
        width: 130px;
        height: 133px;
        border-radius: 20px;
    }

    .end__text {
        text-align: center;
    }


}