#header {
    width: 100%;

    display: flex;
    flex-direction: column;

    color: white;

    background: center url(../header-img.png), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%);
    background-size: cover;
}

.frame-3 {
    width: 100%;
    height: 88px;

    display: flex;
    flex-direction: row;
    gap: 214px;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
    .frame-64 {
        max-width: 1168px;
        width: 100%;

        margin: 0 57px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.frame-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}



.frame-1 a {
    text-decoration: none;
    color: white;
}

.frame-63 {
    width: 100%;
    height: 743px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header__headline {
    width: 100%;
    max-width: 768px;
    text-align: center;
}

.header__subheadline {
    width: 100%;
    max-width: 562px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .frame-64 {
        max-width: 1168px;
        width: 100%;

        margin: 0 57px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .frame-64 .frame-1 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header__title {
        max-width: 360px;
        
    }

    .header_subheadline {

    }

    .frame-63 {
        align-self: center;
        width: 310px;
        height: 400px;
    }
}