.photos__content {
    width: 100%;

    box-sizing: border-box;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.photos__content-row {
    width: 100%;
    height: 301px;

    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media only screen and (max-width: 1170px) {
    .photos__content-row>img:nth-last-child(1) {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .photos__content-row>img:nth-last-child(2) {
        display: none;
    }
}

.photos__content-row img {
    min-width: 0;
    object-fit: cover;
    flex: 1;
    height: 100%;
    border-radius: 50px;
}