.reviews__content {
    max-width: 1170px;
    margin: 0 16px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.reviews__card {
    background-color: var(--beige-200);
    color: var(--black);

    border-radius: 50px;

    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 40px;
}

.reviews__card>span {
    flex: 1;
}

.review__card_reviewer {
    margin-top: 70px;

    display: flex;
    flex-direction: row;
}

.review__card_reviewer_text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

.review__card_reviewer_text>.p-small {
    color: var(--gray-300)
}

.avatar {
    width: 75px;
    height: 75px;

    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .reviews__content {
        grid-template-columns: auto;
    }
}