@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #1B1F2B;
    --white: #FFFFFF;

    --beige-100: #F9F7F4;
    --beige-200: #F4F0E9;

    --gray-100: #F1F3F2;
    --gray-200: #D9DFDB;
    --gray-300: #A6A6A6;

    --green-100: #E0F0E5;
    --green-200: #627F7E;
    --green-300: #3B7E7B;
    --green-400: #286562;

    --orange-100: #F8E6BE;
    --orange-200: #EFA501;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 135px;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    background-color: var(--beige-100);
    color: var(--black)
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 100px;

    align-items: center;
}

/* FIXME: Неправильное название */
.labeled_section {
    max-width: 1276px;
    padding: 0 53px;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    body {
        gap: 75px
    }

    section {
        gap: 50px
    }

    .labeled_section {
        padding: 0 21px;
        box-sizing: border-box;
    }
}

* {
    margin: 0;
}

/* ---- small_button ---- */

.small_button {
    color: var(--black);
    text-decoration: none;
    display: flex;
    padding: 5px 20px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.small_button:hover {
    color: var(--white);
    background-color: var(--orange-200);
}

.small_button:active {
    color: var(--black);
    background-color: var(--orange-100);
}

/* ---- text_button ---- */
.white_text_button {
    color: white;
    position: relative;
}

.white_text_button:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--white);
}

.frame-70 {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.frame-5 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

footer {
    width: 100%;
    background-color: var(--beige-200);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__content {
    width: 100%;
    max-width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.footer__buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footer__button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-items: center;
    align-items: center;

    text-decoration: none;
    color: var(--black);
    position: relative;
}

.black_text_button {
    position: relative;
    text-decoration: none;
    color: var(--black);

    cursor: pointer;
}

.black_text_button:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--black);
}

.build__form_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.checkbox {
    display: block;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;

    box-sizing: border-box;
    border: 2px solid var(--black);
    border-radius: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: -2px;
    top: -2px;
    opacity: 0;
}

.checkbox input:checked~.checkmark {
    opacity: 1;
}

/* Customize the label (the container) */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    box-sizing: border-box;
    border: 2px solid var(--black);
    border-radius: 50%;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio input:checked~.radio-checkmark:after {
    display: block;
}

.radio .radio-checkmark:after {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    background: black;
}